/* write your override styles here */
#wall .tag-1{
  display:none;
}

#wall .tag-1 + #tag-2{
  display:none;
}

#wall #tag-2 + #tag-3{
  display:none;
}

#wall #tag-3 + .parent{
  display:none;
}

div#wall .parent #tag-5.slick:only-child {
  display:none;
}


div#wall div.parent div:last-child div#tag-6:only-child {
  display:none;
}

body div#wall div.parent:last-child div > #tag-7.slick {
  display:none;
}

/*Clean as a whistle, brah.*/
